@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*******************
SELECTION STYLING
*******************/

::selection {
	color: #fff;
	background: #f676b2; /* Safari */
}
::-moz-selection {
	color: #fff;
	background: #f676b2; /* Firefox */
}

/*******************
BODY STYLING
*******************/

body {    
    background: -moz-radial-gradient(center, ellipse cover,  rgba(232,232,232,0) 0%, rgba(170,170,170,0.65) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(232,232,232,0)), color-stop(100%,rgba(170,170,170,0.65)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(232,232,232,0) 0%,rgba(170,170,170,0.65) 100%); 
    background: -o-radial-gradient(center, ellipse cover,  rgba(232,232,232,0) 0%,rgba(170,170,170,0.65) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(232,232,232,0) 0%,rgba(170,170,170,0.65) 100%); 
    background: radial-gradient(ellipse at center,  rgba(232,232,232,0) 0%,rgba(170,170,170,0.65) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e8e8e8', endColorstr='#a6aaaaaa',GradientType=1 ); 
}


form {
    width: 30%;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 30px;
}

label{
    font-size: 12;
    display: block;
    width: 100%;
    
    
}

textarea{
    resize: vertical;
    max-height: 200px;
    min-width: 100px;
}

input, textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}

input:focus, textarea:focus{
    border: 1px solid #1668c4;
}


